body.dark-mode main {
    
    background-color: hsl(0, 0%, 25%);
    color: white;
    transition: background-color .3s, color .3s; 
    
}
body.dark-mode h3 {
    color: white;
}
body.dark-mode a {
    color: black;
}
.dark-mode footer {
    color: black;
}
