* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
}
svg {
    vertical-align: text-bottom;
    width: 2rem;
    height: 2rem;

}
.header a {
    text-decoration: none;
    color: black;
}
.header a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 25px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    flex-wrap: wrap;
    gap: 25px;
    background-color: #E2919F;
    align-items: center;
}
.header-home{
    display: flex;
    font-size: 2rem;
}
.header-selections {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
}
footer {
    text-align: center;
    padding: 5px;
    background-color:  #E2919F;
    font-weight: bold;
}
button {
    background-color:  #E2919F;
    font-weight: bold;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}
button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}