* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
}
svg {
    vertical-align: text-bottom;
    width: 2rem;
    height: 2rem;

}
.header a {
    text-decoration: none;
    color: black;
}
.header a:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    flex-wrap: wrap;
    gap: 25px;
    background-color: #c1b6ab;
    align-items: center;
    border-bottom: 1px solid black;
}
.header-home{
    display: flex;
    font-size: 2rem;
}
.header-selections {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    
}
footer {
    text-align: center;
    padding: 5px;
    background-color:  #c1b6ab;
    font-weight: bold;
    border-top: solid black 1px;
}
button {
    background-color:  #c1b6ab;
    font-weight: bold;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1.5rem;
}
button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}
.toggle-button {
        position: absolute;
        top: 2rem;
        right: 2rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
}
.toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: black;
        border-radius: 10px;

}

@media (max-width: 850px) { 
        .toggle-button {
            display: flex;

        }

        .header-selections {
            display: none;
            width: 100%;
        }

        .header-selections {
            flex-direction: column;
            align-items: center;
        }

        .header-selections.active {
            display: flex;
        }
    }