* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}
body {
    margin: 0;
}
svg {
  vertical-align: text-bottom;
}
.header a {
    text-decoration: none;
    color: black;
}
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding: 25px;
    font-size: 25px;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    flex-wrap: wrap;
    gap: 25px;
    background-color: hsla(39, 21%, 87%, 0.5);
    align-items: center;
}
.header-home{
    display: flex;
}
.header-selections {
    flex: 1 1 1;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
footer {
    text-align: center;
    padding: 5px;
    background-color: hsla(39, 21%, 87%, 0.5);
    font-weight: bold;
}
button {
    background-color: #E5E0D7;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
button:hover {
    background-color: hsla(39, 21%, 87%, 0.7);
}
button:active {
    background-color: hsla(39, 21%, 87%, 0.5);
}