/* 
    Colors:

    My Favorite Jeans: #88A3B3
    Heron Plum: #E5E0D7
    Golden Plumeria: 
    Jaipur Pink: #E2919F
    Monorail Silver: #B5BBBC

img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;  Use this to make sure images are fit into the container
            object-position: center;  Once the images are fit this squares it up
*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    background-color: #88A3B3;
}
.intro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    overflow: hidden;
    font-size: 1.2rem;

}
.intro-text, .intro-img {
    width: 100%;
    max-width: 500px;
    margin: 20px;
}
.intro-text h1 {
    margin-bottom: 1rem;
}
.intro-img img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
}
.sections-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.sections {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 25px;
}
.sections img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
}
@media (max-width: 850px) {
    .intro-container {
        text-align: center;
    }
    .sections {
        grid-template-columns: 1fr; 
    }
}