/* 
    Colors:

    My Favorite Jeans: #88A3B3
    Heron Plum: #E5E0D7
    Golden Plumeria: #F9CF72
    Jaipur Pink: #E2919F
    Monorail Silver: #B5BBBC

*/

/* img:hover {
            transform: translateY(-5px);
        }
*/

/*
img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;  Use this to make sure images are fit into the container
            object-position: center;  Once the images are fit this squares it up
*/