/* 
    Colors:

    My Favorite Jeans: #88A3B3
    Heron Plum: #E5E0D7
    Golden Plumeria: #F9CF72
    Jaipur Pink: #E2919F
    Monorail Silver: #B5BBBC

*/

/* img:hover {
            transform: translateY(-5px);
        }
*/

/*
img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;  Use this to make sure images are fit into the container
            object-position: center;  Once the images are fit this squares it up
*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    margin: 0;
}
.intro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: wrap;
    overflow: hidden;
}
.intro-text, .intro-img {
    width: 100%;
    max-width: 500px;
    margin: 20px;
}
.intro-text h1 {
    margin-bottom: 1rem;
}
.intro-img img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black;
}
