* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #E5E0D7;
    font-weight: bold;
}