/* 
Colors:

My Favorite Jeans: #88A3B3
Heron Plum: #E5E0D7
Golden Plumeria: #F9CF72
Jaipur Pink: #E2919F
Monorail Silver: #B5BBBC

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}
h1 {
    font-size: 30px;
}
.introduction {
    padding: 25px;
    gap: 25px;
    background-color: #88A3B3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.introductionText {
    flex: 1 1 1;
    text-wrap: wrap;
    max-width: 50%; /* Trying this out to keep cards next to eachother on desktop*/
    text-align: center;
}
.introductionImage {
    flex: 1 1 1;
}
.introductionImage img{
    height: auto;
    width: 600px;
    max-width: 100%;
    border-radius: 25px;
}
.hero {
    background-color: #88A3B3;
    text-align: center;
    padding: 25px;
}
.cards {
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
}
.cardOne {
    border-radius: 25px;
    width: 300px;
    height: 300px;
    flex: 1 1 1;
    background-color: #F9CF72;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardOne img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}
.cardTwo {
    border: solid black 2px;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    flex: 1 1 1;
    background-color: #E2919F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardThree {
    border: solid black 2px;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    flex: 1 1 1;
    background-color: #B5BBBC;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .cardFour {
    border: solid black 2px;
    border-radius: 25px;
    width: 200px;
    height: 200px;
    flex: 1 1 1;
    background-color: #E5E0D7; 
} Not currently being used */
.recipeOfTheWeek {
    padding: 50px;
    background-color: #F9CF72;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}
.recipeText {
    text-align: center;
}
.recipeImage {
    align-items: center;
}
.recipeImage img{
    height: auto;
    width: 300px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}
.recentlyAdded {
    padding: 50px;
    background-color: #88A3B3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 25px;
}
.recentlyText {
    border: solid black 2px;
    height: 200px;
    width: 200px;
}
.recentlyImage {
    border: solid black 2px;
    height: 200px;
    width: 200px;
}


