/* 
Colors:

My Favorite Jeans: #88A3B3
Heron Plum: #E5E0D7
Golden Plumeria: #F9CF72
Jaipur Pink: #E2919F
Monorail Silver: #B5BBBC

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}
img {
    max-width: 100%;
    max-height: 100%;
}
h1 {
    font-size: 30px;
}
a {
    text-decoration: none;
    color: black;
}
svg {
  vertical-align: text-bottom;
}
.introduction {
    padding: 25px;
    padding-left: 10%;
    padding-right: 10%;
    gap: 25px;
    background-color: #88A3B3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.introductionText {
    flex: 1 1 0;
    text-align: center;
}
.introductionImage {
    flex: 1 1 1;
}
.introductionImage img{
    height: auto;
    width: 600px;
    display: block;
    max-width: 100%;
    border-radius: 25px;
    box-shadow: 5px 5px 5px black; /* not sure if I love it*/
}
.hero {
    background: linear-gradient(#88A3B3 75%, #B5BBBC);
    text-align: center;
}
.hero h1 {
    padding: 25px;
}
.cards {
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
}
.cardOne, .cardTwo, .cardThree {
    flex: 1 1 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards img {
    height: 400px;
    width: auto;
    border-radius: 25px;
    display: block;
    padding: 10px;
}
.cards img:hover {
    transform: translateY(-5px);
}
.recipeOfTheWeek {
    padding: 25px;
    background-color: #B5BBBC;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}
.recipeOfTheWeek img {
    height: 400px;
    width: 400px;
    border-radius: 25px;
    display: block;
    padding: 10px;
    object-fit: cover;
    object-position: center;
}
.recipeText {
    flex: 1 1 1;
    text-align: center;
}
.recipeImage {
    flex: 1 1 1;
    align-items: center;
    justify-content: center;
}
.recentlyAdded {
    background-color: #B5BBBC;
    justify-content: space-evenly;
    gap: 25px;
}
.recentlyAdded h1{
    text-align: center;
}
.recentCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px;
    gap: 25px;
}
.recentCards img {
    height: 400px;
    width: 400px;
    border-radius: 25px;
    display: block;
    padding: 10px;
    object-fit: cover; /* Use this to make sure images are fit into the container*/
    object-position: center; /* Once the images are fit this squares it up*/
}
.recentImages {
    flex: 1 1 1;
    display: flex;
    flex-wrap: wrap;
}


